.saveButton {
    background-color: white;
    color: #2196F3;
    border: 2px solid #2196F3;
    border-radius: 2px;
    transition-duration: 0.4s;

    font-size: small;
    font-weight: bold;
}

.saveButton:hover {
    background-color: #2196F3;
    color:white;
}

.savedButton {
    background-color: white;
    color: #ccc;
    border: 2px solid #ccc;
    border-radius: 2px;

    font-size: small;
    font-weight: bold;
}

.resetButton {
    background-color: white;
    color: rgb(69, 69, 69);
    border: 2px solid rgb(69, 69, 69);
    border-radius: 2px;
    transition-duration: 0.4s;

    font-size: small;
    font-weight: bold;
}

.resetButton:hover {
    background-color: rgb(69, 69, 69);
    color:white;
}

.resettedButton {
    background-color: white;
    color: #ccc;
    border: 2px solid #ccc;
    border-radius: 2px;

    font-size: small;
    font-weight: bold;
}

#spacing {
    padding-top:15px;
}
#spacing2 {
    padding-top:30px;
}

html {
    background-color: rgb(238, 238, 238)
}

.container {
    height: 300px;
    width: 600px;
    background: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(204, 204, 204);
    border-radius: 5px;

    position: fixed;
    display:block;
    top: 20%;
    left: 50%;
    margin-top: -100px;
    margin-left: -300px;

    box-sizing: border-box;
    padding: 40px;
}

.banner{
    position: absolute;
    left: 50%;
    margin-left: -175px;
}

.center{
    text-align: center;
}